*,
::before,
::after {
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
}

html {
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
	-moz-tab-size: 4;
	tab-size: 4;
	font-family:
		ui-sans-serif,
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		"Helvetica Neue",
		Arial,
		"Noto Sans",
		sans-serif,
		"Apple Color Emoji",
		"Segoe UI Emoji",
		"Segoe UI Symbol",
		"Noto Color Emoji";
	font-feature-settings: normal;
	font-variation-settings: normal;
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	line-height: inherit;
	height: 100%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	place-content: center;
}

button {
	font-family: inherit;
	font-feature-settings: inherit;
	font-variation-settings: inherit;
	font-size: 100%;
	font-weight: inherit;
	line-height: inherit;
	color: inherit;
	margin: 0;
	padding: 0;
	text-transform: none;
	-webkit-appearance: button;
	appearance: button;
	background-color: #dc2626;
	background-image: none;
	cursor: pointer;

	border-radius: 100%;
	box-shadow: rgb(0 0 0 / 50%) 0px 5px 15px;
	flex: 1 1 auto;
	max-width: 35vw;
	aspect-ratio: 1/1;
}
